 <div class="row toc" style="color: black;">

            <div class="col-xs-3 col-xs-offset-1 col-md-2 col-md-offset-3">
            <div class="title">Content</div>
                <ul class="flat">
                    <li><a href="{% url 'user-list' %}">user-list</a></li>
                    <li><a href="{% url 'badge-list' %}">badge-list</a></li>
                </ul>
            </div>
            <div class="col-xs-3 col-md-2">
                <div class="title">side2</div>
                <ul class="flat">
                    <li><a href="{% url 'user-votes' %}">user-votes</a></li>
                    <li><a href="{% url 'planet' %}">planet</a></li>
                    <li><a href="{% url 'planet-feed' %}">planet-feed</a></li>

                </ul>
            </div>
            <div class="col-xs-3 col-md-2 ">
                <div class="title">side3</div>
                <ul class="flat">
                    <li><a href="{% url 'latest-feed' %}">latest-feed</a></li>
                    <li><a href="{% url 'rss' %}">rss</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>