{% load i18n %}
{% load humanize %}
{% load server_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{#    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>#}
    <title>{% block page_title %}{{ page_title }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{#    <link href="{% static 'bootstrap.min.css'  %}" rel="stylesheet"/>#}
{#    <link href="{% static 'fa/css/font-awesome.min.css' %}" rel="stylesheet"/>#}
{##}
{#    <script src="{% static 'jquery-3.1.1.min.js' %}"></script>#}
{#    <script src="{% static 'bootstrap.min.js' %}" rel="text/javascript"></script>#}


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'bil/prism/prism.css' %}">
        <link href="{% static 'bil/select2-3.4.5/select2.css'%}" rel="stylesheet">
        <link href="{% static 'less.css'%}" rel="stylesheet">
        <script src="{% static 'bil/less-1.6.1.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'bil/prism/prism.js'%}" type="text/javascript"></script>
        <script src="{% static 'bil/select2-3.4.5/select2.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'askcomrade.js' %}" type="text/javascript"></script>
    {% block extras %}
    {% endblock %}

    <script type="application/javascript">
        {% if user.is_authenticated %}
            USER_ID = {{ user.id }};
        {%  else %}
            USER_ID = null;
        {% endif %}
        TITLE_SEARCH_URL = "{% url 'search-title' %}"
        POST_DISPLAY_URL = "/p/"
    </script>
</head>
<body>


<div class="container" id="content">
        {% include 'nav.html' %}

    {% if messages %}

        <div class="row">
            <div class="col-md-12 col-sm-offset-0 text-center">
                {% for message in messages %}
                    <div class="alert  {{ message.tags }}">{{ message|safe }}</div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% block content %}
        Body
    {% endblock %}
    {% block footer %}
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <hr>
            </div>
        </div>

        {% include 'footer.html' %}

        <div class="row">
            <div class="col-md-12 text-center">
                Use of this site constitutes acceptance of our <a href="{% url 'flatpage' 'policy' %}">User
                Agreement
                and Privacy
                Policy</a>.
            </div>
            <div class="col-md-12 text-center">
                Powered by <a href="https://www.kipkemei.com">Askcomrade</a>
                version 1.0.0
            </div>
        <script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=56eptt59p23&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=33" async="async"></script>
        </div>
    {% endblock %}

    {# This information is cached and updated periodically via the context. #}
  {% if TRAFFIC %}  <div id="traffic">Traffic: {{ TRAFFIC }} users visited in the last hour</div> {% endif %}
    <br><br>
    {# 	{% include "banners/bottom-block.html" %}#}

</div>

{# Google tracker injected if it exists in the context. Set in the django settings. #}
{% if GOOGLE_TRACKER %}
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ GOOGLE_TRACKER }}']);
        _gaq.push(['_setDomainName', '{{ GOOGLE_DOMAIN }}']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>
{% endif %}
</body>
</html>